@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.main-screen {
  width: 100%;
  height: 100%;
  min-height: calc(max(768px, 100%));
  display: flex;
  .main-side-bar {
    flex: none;
  }
  .main-content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    > .footer {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: auto;
      padding-bottom: 16px;
      padding-top: 16px;
      .footer-content {
        width: 1088px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .footer-text {
        font-size: 12px;
        line-height: 15px;
        color: $gray;
      }
    }
  }
  .main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 16px;
  }
  .main-top-bar {
    width: 100%;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 17px;
    display: flex;
  }
  .main-welcome-panel {
    margin-right: 16px;
  }
  .main-content-panel {
    display: flex;
    flex-direction: column;
    > * {
      flex: 1 1 auto;
    }
  }
  .divider {
    margin-left: 8px;
    margin-right: 8px;
  }
  .larger-screen-footer {
    display: flex;
    &.justify-end {
      justify-content: flex-end;
    }
  }
  @include media-below-or-equal-width(
    $max-width: $desktop-main-layout-wrap-max-width
  ) {
    height: unset;
    .main-content-container {
      > .footer {
        .footer-content {
          width: 100%;
          flex-direction: column;
          align-items: flex-end;
          padding-right: 32px;
        }
        .footer-text:not(:first-child) {
          margin-top: 8px;
        }
      }
    }
    .main-content {
      flex-direction: column;
      align-items: center;
      overflow: visible;
    }
    .main-content-panel {
      margin-top: 52px;
    }
  }
}
